<%- include('partials/_header.ejs') %>


  <div class="container">
    <div class="row">
      <% if (user.rol==="administrador" ) { %>
        <!-- Formulario para añadir asignatura) -->
          <div class="col-md-6">
            <h2>Añadir Asignatura</h2>
            <form action="/asignatura/add" method="post">
              <!--en este controlador hay que pasarle todos los datos de usuarios.rol= alumno/profesor -->

              <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" required>
              </div>
              <div class="form-group">
                <label for="curso">Curso:</label>
                <input type="text" class="form-control" id="curso" name="curso" required>
              </div>

              <!-- Selección de Alumnos -->
              <div class="form-group">
                <label for="alumnos">Alumnos:</label>
                <select class="form-control" id="alumnos" name="alumnos" multiple>
                  <% alumnos.forEach(alumno=> { %>
                    <option value="<%= alumno._id %>">
                      <%= alumno.nombre %>
                        <%= alumno.apellido %>
                    </option>
                    <% }) %>
                </select>
                <small>Selecciona múltiples alumnos (Ctrl + Click)</small>
              </div>

              <!-- Selección de Profesores -->
              <div class="form-group">
                <label for="profesores">Profesores que la imparten:</label>
                <select class="form-control" id="profesores" name="profesores" multiple>
                  <% profesores.forEach(profesor=> { %>
                    <option value="<%= profesor._id %>">
                      <%= profesor.nombre %>
                        <%= profesor.apellido %>
                    </option>
                    <% }) %>
                </select>
              </div>

              <!-- Selección de Estudio -->
              <div class="form-group">
                <label for="estudio">Estudio:</label>
                <select class="form-control" id="estudio" name="estudio" required>
                  <% estudios.forEach(estudio=> { %>
                    <option value="<%= estudio._id %>">
                      <%= estudio.nombre %> (<%= estudio.tipo %>)
                    </option>
                    <% }) %>
                </select>
              </div>

              <button type="submit" class="btn btn-primary">Añadir</button>
            </form>
          </div>
        <% } %>

        <!-- Listado de asignaturas -->
        <div class="col-md-6">
          <h2>Listado de Asignaturas</h2>
          <table class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>N°</th>
                <th>Nombre</th>
                <th>Curso</th>
                <th>Profesores</th>
                <th>Alumnos</th>
                <th>Estudio</th>
                <th>Operaciones</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i < asignaturas.length; i++) { %>
                <tr>
                  <td>
                    <%= i + 1%>
                  </td>
                  <td>
                    <a href="/software/<%= asignaturas[i]._id %>">
                    <strong>
                      <%= asignaturas[i].nombre %>
                    </strong>
                  </td>
                  <td>
                    <%= asignaturas[i].curso %>
                  </td>
                  <td>
                    <% if (profesores && asignaturas[i].profesores) { %>
                      <% for (var j = 0; j < profesores.length; j++) { %>
                        <% if (profesores[j] && profesores[j]._id) { %>
                          <% for (var k = 0; k < asignaturas[i].profesores.length; k++) { %>
                            <% if (asignaturas[i].profesores[k]) { %>
                              <% if (profesores[j]._id.toString() === asignaturas[i].profesores[k].toString()) { %>
                                <%= profesores[j].nombre + " " + profesores[j].apellido %><br>
                              <% } %>
                            <% } %>
                          <% } %>
                        <% } %>
                      <% } %>
                    <% } %>

                </td>
                <td>
                  <% if (alumnos && asignaturas[i].alumnos) { %>
                    <% for (var j = 0; j < alumnos.length; j++) { %>
                      <% if (alumnos[j] && alumnos[j]._id) { %>
                        <% for (var k = 0; k < asignaturas[i].alumnos.length; k++) { %>
                          <% if (asignaturas[i].alumnos[k]) { %>
                            <% if (alumnos[j]._id.toString() === asignaturas[i].alumnos[k].toString()) { %>
                              <%= alumnos[j].nombre + " " + alumnos[j].apellido %><br>
                            <% } %>
                          <% } %>
                        <% } %>
                      <% } %>
                    <% } %>
                  <% } %>
                  </td>
                  <td>
                    <% if (estudios && asignaturas[i].estudio) { %>
                      <% estudios.forEach(estudio => { %>
                        <% if (estudio && estudio._id) { %>
                          <% if (asignaturas[i].estudio.toString() === estudio._id.toString()) { %>
                            <%= estudio.nombre %> (<%= estudio.tipo %>)
                          <% } %>
                        <% } %>
                      <% }) %>
                    <% } %>
                  </td>
                  <td>
                    <a href="/asignaturas/delete/<%= asignaturas[i]._id %>" class="btn btn-danger">
                      Eliminar
                    </a>
                    <a href="/asignaturas/editAsignatura/<%= asignaturas[i]._id %>" class="btn btn-info">
                      Editar
                    </a>
                  </td>
                </tr>
                <% } %>
            </tbody>
          </table>
        </div>
    </div>
  </div>


  <%- include('partials/_footer.ejs') %>