<%- include('partials/_header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card">
                <h2 class="card-header text-center">Editar Asignatura</h2>
                <div class="card-body">
                    <!-- Formulario para editar un usuario -->
                    <form action="/asignaturas/editAsignatura/<%= asignatura._id %>" method="post">
                        <div class="form-group">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" name="nombre" placeholder="Nombre" value="<%= asignatura.nombre%>">
                        </div>
                        <div class="form-group">
                            <label for="curso">Curso:</label>
                            <input type="text" class="form-control" name="curso" placeholder="Curso" value="<%= asignatura.curso%>">
                        </div>

                        <!-- Selección de Profesores -->
                        <div class="form-group">
                          <label for="profesores">Profesores que la imparten:</label>
                          <select class="form-control" id="profesores" name="profesores" multiple>
                            <% profesores.forEach(profesor=> { %>
                              <option value="<%= profesor._id %>">
                                <%= profesor.nombre %>
                                  <%= profesor.apellido %>
                              </option>
                              <% }) %>
                          </select>
                        </div>

                         <!-- Selección de Alumnos -->
                         <div class="form-group">
                           <label for="alumnos">Alumnos:</label>
                           <select class="form-control" id="alumnos" name="alumnos" multiple>
                             <% alumnos.forEach(alumno=> { %>
                               <option value="<%= alumno._id %>">
                                 <%= alumno.nombre %>
                                   <%= alumno.apellido %>
                               </option>
                               <% }) %>
                           </select>
                         </div>

                        <!--Seleccionar un estudio-->
                        <div class="form-group">
                            <label for="estudio">Estudio:</label>
                            <select class="form-control" id="estudio" name="estudio" required>
                              <% estudios.forEach(estudio=> { %>
                                <option value="<%= estudio._id %>">
                                  <%= estudio.nombre %> (<%= estudio.tipo %>)
                                </option>
                                <% }) %>
                            </select>
                        </div>

                        <br><br>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
</div>
  
<%- include('partials/_footer.ejs') %>