<%- include('partials/_header.ejs') %>

<div class="container">
    <div class="row">
        <% if (user.rol === "administrador") { %>
            <!-- Formulario para añadir software -->
            <div class="col-md-6">
                <h2>Añadir Software</h2>
                <form action="/software/add" method="post">
                    <div class="form-group">
                        <label for="link">Link:</label>
                        <input type="text" class="form-control" id="link" name="link" required>
                    </div>
                    <div class="form-group">
                        <label for="descripcion">Descripcion:</label>
                        <input type="text" class="form-control" id="descripcion" name="descripcion" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Añadir</button>
                </form>
            </div>
        <% } %>

            <!--Listado de softwares-->
            <div class="col-md-6">
                <h2>Listado de software</h2>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Link</th>
                            <th>Descripcion</th>
                            <th>Operaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (softwares && softwares.length > 0) { %>
                            <% for (var i = 0; i < softwares.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td><%= softwares[i].link %></td>
                                    <td><%= softwares[i].descripcion %></td>
                                    <td>
                                        <% if (user.rol == "administrador" || user.rol == "profesor") { %>
                                            <a href="/software/delete/<%= softwares[i]._id %>" class="btn btn-danger">Eliminar</a>
                                            <a href="/software/edit/<%= softwares[i]._id %>" class="btn btn-info">Editar</a>
                                        <% } %>
                                    </td>
                                </tr>
                            <% } %>
                        <% } else { %>
                            <tr>
                                <td colspan="4">No hay software disponible para esta asignatura.</td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
    </div>
</div>





<%- include('partials/_footer.ejs') %>